## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.cache
*.dbmdl
*.jfm
*.log
*.nupkg
.vs/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store
